@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/colors.scss";

.main-areas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    @include heading-3;
}

.sub-label {
    @include heading-4;
}
