@import "../../../assets/styles/mixins.scss";

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    @include heading-1;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    background-color: white;
}