//Colors
$primary-colors: (
  primary-1: #ebf2f4,
  primary-2: #c6dae1,
  primary-3: #a1c3ce,
  primary-4: #6faec3,
  primary-5: #4893ad,
  primary-6: #3f8197,
  primary-7: #2d738b,
  primary-8: #256074,
  primary-9: #1e4d5c
);

$accent-colors: (
  accent-1: #ffdec7,
  accent-2: #ffc69e,
  accent-3: #ffb27a,
  accent-4: #ff9d57,
  accent-5: #ff852e,
  accent-6: #d26f28,
  accent-7: #a3561f,
  accent-8: #743d16,
  accent-9: #44240d
);

$grey-colors: (
  grey-1: #edf0f3,
  grey-2: #e1e6ea,
  grey-3: #d5dbe2,
  grey-4: #c9d1d9,
  grey-5: #bcc7d2,
  grey-6: #9aa3ac,
  grey-7: #788087,
  grey-8: #55595e,
  grey-9: #333638
);

$red-colors: (
  red-1: #f3cec8,
  red-2: #ecaca2,
  red-3: #e48a7c,
  red-4: #dd6b5a,
  red-5: #d74833,
  red-6: #b13d2b,
  red-7: #872f21,
  red-8: #632218,
  red-9: #3a130e
);

$yellow-colors: (
  yellow-1: #faefb7,
  yellow-2: #f6e488,
  yellow-3: #f3da5e,
  yellow-4: #f0d02d,
  yellow-5: #ebc400,
  yellow-6: #c2a200,
  yellow-7: #998000,
  yellow-8: #6b5900,
  yellow-9: #423700
);

$green-colors: (
  green-1: #ceeece,
  green-2: #ade1ad,
  green-3: #8ed78e,
  green-4: #6ccb6c,
  green-5: #4ec14e,
  green-6: #419f41,
  green-7: #327b32,
  green-8: #235823,
  green-9: #163716
);